[submodule "AbyssalEngine/vendor/spdlog"]
	path = AbyssalEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AbyssalEngine/vendor/GLFW"]
	path = AbyssalEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
